body,html {
	background-color: $color-background;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-right-0 {
	padding-right: 0;
}


.bold {
	font-weight: 600;
}

.right {
	float: right;
}

.left {
	float: left;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.padding-10 {
	padding-top: 10rem;
}