@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Roboto', sans-serif;


$color-background: #f4f4f4;
$color-white: #ffffff;
$color-black: #231f20;
$color-lightgrey: #b3b3b3;
